# 0b:00.0 Ethernet controller: Intel Corporation I210 Gigabit Network Connection (rev 03)                                
ACTION=="add", SUBSYSTEM=="net", KERNELS=="0000:0b:00.0", NAME:="eth0"
