[Unit]
Description=Accton ES9632XX-0420-XSE Platform Monitoring service
Before=pmon.service
After=sysinit.target
DefaultDependencies=no

[Service]
ExecStartPre=/usr/local/bin/es9632xx_0420_xse_util.py install
ExecStart=/usr/local/bin/es9632xx_0420_xse_monitor.py
KillSignal=SIGKILL
SuccessExitStatus=SIGKILL

# Resource Limitations
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
